{
  "presets": [
    "es2015"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": false,
        "moduleName": "babel-runtime"
      }
    ]
  ]
}
