.viewer-animation {
    -webkit-transition: transform .4s; /* Safari 和 Chrome */
    -moz-transition: transform .4s; /* Firefox 4 */
    -o-transition: transform .4s; /* Opera */
    transition: transform .4s;
}

.image-viewer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10000;
    font-size: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow: hidden;
}

.image-viewer .viewer {
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.image-viewer .image-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 12px;
    z-index: 11;
}

.image-viewer .image-body {
    width: 100%;
    height: 100%;
    font-size: 0;
    z-index: 10;
}

.image-viewer .image-body .panel img {
    max-width: 100%;
    max-height: 100%;
}

.image-viewer .image-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 12px;
    z-index: 11;
}

.image-viewer .panel {
    display: inline-block;
    overflow: hidden;
}